<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

.highcharts-figure
    <div id="container"></div>

javascript:

    Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Nectar Consumption VS Pollen Collection'
    },
    subtitle: {
        text: 'Source: Honey Database 2020'
    },
    xAxis: {
        categories: gon.dates
    },
    yAxis: {
        title: {
            
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: true
        }
    },
    series: [{
        name: 'Nectar (in 1000s)',
        data: gon.nectar_dosage
    }, {
        name: 'Pollen',
        data: gon.pollen_globs_collected
    }]
    });