/* .header {
    width: 40%;
    font-weight: 450;
    color: rgb(6, 53, 53);
    line-height: 1.7;
    border-left: 0.5rem solid rgb(2, 32, 25);
    padding-left: 1rem;
}

.header:first-child {
    border-bottom: 0.5rem solid rgb(2, 32, 25);
}

.header a span {
    color: rgb(82, 165, 150);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
} */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 1;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    background-color: rgba(55, 161, 147, 0.288);
}

.header a:hover {
    /* text-decoration: underline; */
}
