.middle-top {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 90%;
    /* height: 30rem; */
    /* background-color: rgb(20, 107, 107); */
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: auto;
    padding: 6rem 0 6rem 0;
}

.middle-top h1 {
    width: 60%;
    border-left: 1rem solid rgb(2, 32, 25);
    padding-left: 1rem;
}

.middle-top h1 span {
    color: rgb(82, 165, 150);
    text-transform: uppercase;
    font-size: 3.2rem;
}

.middle-top h2 {
    width: 60%;
    font-size: 3rem;
    border-left: 1rem solid rgb(2, 32, 25);
    padding-left: 1rem;
}

.middle-bottom {
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    margin: auto;
    padding: 5rem 3rem 5rem 3rem;
    
    background: -webkit-linear-gradient(rgb(7, 77, 77), rgb(20, 94, 94), rgb(31, 143, 143), rgb(133, 209, 209));
    background: linear-gradient(rgb(7, 77, 77), rgb(20, 94, 94), rgb(31, 143, 143), rgb(133, 209, 209));    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.middle-bottom div {
    width: 20%;
}

.middle-bottom div div{
    color: rgba(22, 22, 22, 0.363);
    font-size: 2rem;
    font-weight: 800;
}
