#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30rem;
    /* background-color: rgb(20, 107, 107); */
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: auto;
}

#middle h1 {
    width: 70%;
    border-left: 1rem solid rgb(2, 32, 25);
    padding-left: 1rem;
}

.middle-right {
    /* display: flex; */
    /* flex-direction: column; */
    width: 40%;
    font-weight: 450;
    color: rgb(6, 53, 53);
    line-height: 1.7;
}

.middle-right {
    border-left: 0.5rem solid rgb(2, 32, 25);
    padding-left: 1rem;
}

.middle-right:first-child {
    border-bottom: 0.5rem solid rgb(2, 32, 25);
}

.middle-right a span {
    color: rgb(100, 192, 192);
    text-transform: uppercase;
    font-size: 1.8rem;
}