.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30rem;
    /* background-color: rgb(20, 107, 107); */
    /* color: white; */
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin: auto;
}

.middle h1 {
    width: 70%;
}

.middle-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-weight: 600;
    color: rgb(6, 53, 53);
}