.bee_show, .table-instruct {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 1rem;
    /* border-bottom: 1.2rem solid black; */
    color: rgb(82, 165, 150);
    margin-top: 4rem;
    animation: text-fade-in 0.5s ease 0s forwards;
    opacity: 0; 
}

.bee_show span {
    color: black;
}

.table-instruct {
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.table-instruct span {
    color: black;
}