.actions {
    /* display: flex; */
    /* flex-direction: column; */
    width: 40%;
    font-weight: 450;
    color: rgb(6, 53, 53);
    line-height: 1.7;
    border-left: 0.5rem solid rgb(2, 32, 25);
    padding-left: 1rem;
}

.actions:first-child {
    border-bottom: 0.5rem solid rgb(2, 32, 25);
}

.actions a span {
    color: rgb(82, 165, 150);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
}