#table {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 table {
  width: 60%;
  table-layout: fixed;
  background: -webkit-linear-gradient(left, rgb(117, 207, 207), rgb(47, 160, 160), rgb(22, 165, 165), rgb(11, 112, 112));
  background: linear-gradient(to right, rgb(117, 207, 207), rgb(47, 160, 160), rgb(22, 165, 165), rgb(11, 112, 112));
  font-family: 'Roboto', sans-serif;
}

thead tr th {
  background-color: rgba(255, 255, 255, 0.096);
}

th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.regular {
    display: none;
}

.toggle-button-cover {
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button, .layer {
    border-radius: 100px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebfcee;
    transition: 0.3s ease all;
    z-index: 1;
}

.button .knobs:before, .button .knobs:after {
    content: '+';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: rgb(3, 244, 3);
    border-radius: 50%;
    transition: 0.3s ease all;
}

.button .knobs:before {
    content: '+';
}

.button .knobs:after {
    content: '-';
}

.button .knobs:after {
    right: -28px;
    left: auto;
    background-color: rgb(244, 57, 54);
}

.button .checkbox:checked + .knobs:before {
    left: -29px;
}

.button .checkbox:checked + .knobs:after{
    right: 4px;
}

.button .checkbox:checked ~ .layer {
    background-color: #fef8f8;
}
